body {
  background: #FFFFFF;
}
h1 {
  text-align: center;
}
.caixa1 {
  background: rgb(149, 9, 177);
  position: absolute;
  color: #FFFFFF;
  width: 200px;
  height: 200px;
  right: 0;
  top: 0;
}
.caixa2 {
  background: rgb(23, 209, 223);
  position: absolute;
  color: #FFFFFF;
  width: 200px;
  height: 200px;
  right: 0;
  bottom: : 0;
}
.menuPrincipal{
  position: absolute;
  top: 0;
  left: 0;
  background-color: chartreuse;
  width: 100%;
  height: 45px;
}
nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
 }
 li {
float: left;
 }
 li a{
   display: block;
   color: #FFFFFF;
   text-align: center;
   padding: 14px 16px;
   text-decoration: none;
 }
 li a:hover{
   background:yellow;
   color: black;
 }
 #passat {
     width:10%;
     height: 200px;
     background: gray;
     left: 0;
     width: 90%;
     margin: 20px;
     border-color: black;
     border-width: 20px;
     border-style: double;
     padding: 20px;
     display: flex;
     justify-content:end
     ;
 }
 #passat:hover{
   width: 72%;
 }
 #passat {
   width: 50%;
 }
 .rodape {
   width: 100%;
   height: 50px;
   background-color: black;
   position: absolute;
   bottom: 10px;
   left: 0;
   font-size: large;
   display: flex;
   justify-content: center;
   color: cornsilk;
 }
 .conteudo {
   position: relative;
   top: 45px;
 }